*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(45, 45, 45);
}

.container{

    margin: auto;
    width: 80%;
    
    padding: 100px 50px;
    box-sizing: border-box;

}



.container h1 {

    background-color: white;
    /* align-items: center; */

    

    text-align: center;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.pars